.container {
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-shadow: 1px 1px #cccccc;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-top: 10px;
}
.input01 {
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding: 10px;
    margin-top: 5px;
}
.input01:hover{
    border: 1px solid cadetblue;
}
.buttonAdd {
    width: 100px;
    margin-top: 10px;
    padding: 10px;
    border: none;
    background-color: #115fd2;
    color: #ffffff;
    border-radius: 5px;
}
.output {
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}
.flex01 {
    flex: 1;
}
.output>button{
    width: 30px;
    border: none;
    background-color: #ffffff;
}
.output>input{
    margin-right: 10px;
}